NET "y0" LOC = P58 | IOSTANDARD = LVTTL;
NET "y1" LOC = P57 | IOSTANDARD = LVTTL;
NET "y2" LOC = P67 | IOSTANDARD = LVTTL;
NET "y3" LOC = P66 | IOSTANDARD = LVTTL;
NET "y4" LOC = P95 | IOSTANDARD = LVTTL;
NET "y5" LOC = P94 | IOSTANDARD = LVTTL;
NET "y6" LOC = P98 | IOSTANDARD = LVTTL;
NET "y7" LOC = P97 | IOSTANDARD = LVTTL;

NET "x0" LOC = P75 | IOSTANDARD = LVTTL;
NET "x1" LOC = P74 | IOSTANDARD = LVTTL;
NET "x2" LOC = P79 | IOSTANDARD = LVTTL;
NET "x3" LOC = P78 | IOSTANDARD = LVTTL;
NET "x4" LOC = P88 | IOSTANDARD = LVTTL;
NET "x5" LOC = P87 | IOSTANDARD = LVTTL;
NET "x6" LOC = P93 | IOSTANDARD = LVTTL;
NET "x7" LOC = P92 | IOSTANDARD = LVTTL;

NET "l1" LOC = P117 | IOSTANDARD = LVTTL;
NET "l2" LOC = P119 | IOSTANDARD = LVTTL;
NET "l3" LOC = P121 | IOSTANDARD = LVTTL;
NET "o" LOC = P112 | IOSTANDARD = LVTTL;
NET "l" LOC = P105 | IOSTANDARD = LVTTL;
NET "r" LOC = P115 | IOSTANDARD = LVTTL;
NET "u" LOC = P104 | IOSTANDARD = LVTTL;
NET "d" LOC = P111 | IOSTANDARD = LVTTL;