NET "p0" LOC = P123;
NET "p0" IOSTANDARD = LVTTL;
NET "p1" LOC = P124;
NET "p1" IOSTANDARD = LVTTL;
NET "p2" LOC = P126;
NET "p2" IOSTANDARD = LVTTL;
NET "p3" LOC = P127;
NET "p3" IOSTANDARD = LVTTL;
NET "p4" LOC = P1;
NET "p4" IOSTANDARD = LVTTL;
NET "p5" LOC = P2;
NET "p5" IOSTANDARD = LVTTL;
NET "p6" LOC = P5;
NET "p6" IOSTANDARD = LVTTL;
NET "p7" LOC = P6;
NET "p7" IOSTANDARD = LVTTL;

NET "p8" LOC = P131;
NET "p8" IOSTANDARD = LVTTL;
NET "p9" LOC = P132;
NET "p9" IOSTANDARD = LVTTL;
NET "p10" LOC = P133;
NET "p10" IOSTANDARD = LVTTL;
NET "p11" LOC = P134;
NET "p11" IOSTANDARD = LVTTL;
NET "p12" LOC = P141;
NET "p12" IOSTANDARD = LVTTL;
NET "p13" LOC = P142;
NET "p13" IOSTANDARD = LVTTL;
NET "p14" LOC = P143;
NET "p14" IOSTANDARD = LVTTL;
NET "p15" LOC = P144;
NET "p15" IOSTANDARD = LVTTL;

NET "bl"  LOC = P30 | IOSTANDARD = LVTTL;
NET "br"  LOC = P27 | IOSTANDARD = LVTTL;
NET "bu"  LOC = P31 | IOSTANDARD = LVTTL;
NET "bd"  LOC = P28 | IOSTANDARD = LVTTL;
NET "bo"  LOC = P29 | IOSTANDARD = LVTTL;
NET "l1"  LOC = P20 | IOSTANDARD = LVTTL;
NET "l2"  LOC = P21 | IOSTANDARD = LVTTL;
NET "l3"  LOC = P25 | IOSTANDARD = LVTTL;


NET "button_level_1" LOC = P74;
NET "button_level_1" IOSTANDARD = LVTTL;
NET "button_level_2" LOC = P75;
NET "button_level_2" IOSTANDARD = LVTTL;
NET "button_level_3" LOC = P79;
NET "button_level_3" IOSTANDARD = LVTTL;
